body{
background:url("../img/bgev.png") no-repeat  #ba1f19 ;
width:100%;
overflow-x:hidden;
}
*{
margin-top:0;
box-sizing: border-box;
}
a{
text-decoration: none;
display: block;
cursor: pointer;
color:inherit;
}

ul{
list-style: none;
}
ul li{
display: inline-block;
font-family: exo;
font-size: 1.1em;
margin:0.7em;
color:#ef9793;
padding-left:1em;
padding-right:1em;
padding-top:0.5em;
padding-bottom:0.5em;
-webkit-transition: all 0.4s cubic-bezier(.38,.85,.19,1);
-moz-transition: all 0.2s cubic-bezier(.38,.85,.19,1);
transition:all 0.2s cubic-bezier(.38,.85,.19,1);
-o-transition: all 0.4s cubic-bezier(.38,.85,.19,1);
}
header{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba1f19), color-stop(100%,#a1130d));
background:  -moz-linear-gradient(top, #ba1f19 0%, #a1130d 100%, #a1130d 100%);
padding-bottom:1.2em;
}
.nav{
margin-left:3em;
}
.nav li:hover{
    background:#1f1e1e;
    color:#EEE;
    padding-left:1.5em;
}
.clear-fix{
clear:both;
}
.pull-left{
float:left;
}
.pull-right{
float:right;
}

section{
margin-top:8%;
}
#events {
color:#9f9191;
font-size:5.5em;
font-family:SquareDance10;
background:#1f1e1e;
padding:1em 0.6em 1em 0.6em;
}
#list{
margin-top:1em;
background:#000; 
height:250px;
min-width: 400px;
max-width:670px;
}
#list ul{
margin:0.5em auto;
}
#list a{
    background:url("../img/btl.png")  no-repeat left top, url("../img/btr.png")  no-repeat right top, url("../img/bbr.png")  no-repeat right bottom,url("../img/bbl.png")  no-repeat left bottom ;
    padding: 0.5em;
    display: block;
    color:#9f9191;
    font-size: 0.8em;
   
    -webkit-transition: all 0.5s cubic-bezier(.38,.85,.19,1);
     -moz-transition: all 0.5s cubic-bezier(.38,.85,.19,1);
     -o-transition: all 0.5s cubic-bezier(.38,.85,.19,1);
     transition: all 0.5s cubic-bezier(.38,.85,.19,1);
    text-transform: uppercase;
    text-align: center;
}
#list a:hover{
    padding:1em;
}
#cmp {
    width:180px;
    position: relative;
}
#cmp img{
width:100%;
height:auto;
}
#reg a{
position: relative;
color:#EEE;
font-family: SquareDance10;
background-color:#6c120f;
min-width:120px;
padding:1em;
left:70%;
display: block;
-webkit-transition: all 0.5s cubic-bezier(.38,.85,.19,1); 
-moz-transition: all 0.5s cubic-bezier(.38,.85,.19,1);
-o-transition: all 0.5s cubic-bezier(.38,.85,.19,1); 
transition: all 0.5s cubic-bezier(.38,.85,.19,1); 
}
#reg a:hover{
padding-left:2em;
}
#modal{
display: none;
color:#4d4948;
font-family:inherit;
line-height: 1.5em;
}
#modal h1{
font-family: exo;
display: block;
color:#000;
padding:0.3em 0 0.3em 0.3em;
text-transform: uppercase;
border-left: 10px solid orange;
font-size: 4em;
line-height: 1em;
}
#modal h1 span{
font-size:2em;

}
.evlogo{
    text-align: center;
    margin: auto;
}
.spinner{
position: absolute;
top:48%;
left:48%;
}
#modal p{
    margin-top: -1em;
    border-left:7px solid #befd73;
    padding-left:1em;
    margin-left:1em;
}
#modal li{
    display: block;
    padding-bottom: 0;
    padding-top:0;
    margin-bottom: 0;
    margin-top:0; 
}
.reg {
border-radius: 3px;
background:#3cbade;
color:#07242c;
text-align: center;
}